<!-- Controller is referenced to template via view-home-controller  -->

<!--<link rel="stylesheet" href="components/view-home/view-home.style.css">-->

<!--<div class="content">
  <div class="card-columns">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">Lorem</div>
      <div class="card-body">
        <h4 class="card-title">Lorem Ipsum</h4>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit laboriosam ex deserunt harum iste. Hic vero corporis, enim culpa laborum obcaecati fugiat delectus doloremque?.</p>
      </div>
    </div>
  </div>
</div>-->

<div class="content">
  <div class="row">
    <div class="col-sm-8">
      <h1>10:15</h1>
      <p>Friday April 20, 2018</p>

    </div>
    <div class="col-sm-4">

      <div class="card mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">10:00 - 11:00 AM</h4>
          <p class="card-text">USCSI ODOS II - Coding Challenge Kick Off Meeting</p>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">11:30 - 12:00 AM</h4>
          <p class="card-text">Another Event - Event description...</p>
        </div>
      </div>


    </div>
  </div>
</div>

<button class="btn btn-lg btn-primary" ng-click="home.newConference()">New Conference</button>