<!-- Controller is referenced to template via new-user-controller  -->

<div class="content">

  <div class='card'>
    <div class='card-header'>Edit Equipment</div>
    <div class='card-body'>
      <form>
        <div class='form-group'>
          <label for='firstName'>Name</label>
          <input type='text' class='form-control' id='firstName' name='firstName' required ng-model='equipment.name'>
        </div>
      
        <button type='button' class='btn btn-info' ng-click='cancel()'>Cancel</button>
        <button type='submit' class='btn btn-success' ng-click='update(equipment)'>Update</button>
      </form>
      
    </div>
  </div>

<div class="content">

</div>