<!-- Controller is referenced to template via view-home-controller  -->

<!--<link rel="stylesheet" href="components/view-home/view-home.style.css">-->

<!--<div class="content">
  <div class="card-columns">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">Lorem</div>
      <div class="card-body">
        <h4 class="card-title">Lorem Ipsum</h4>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit laboriosam ex deserunt harum iste. Hic vero corporis, enim culpa laborum obcaecati fugiat delectus doloremque?.</p>
      </div>
    </div>
  </div>
</div>-->

<div class="content">
  <div class="row">
    <div class="col-sm-8">
      <h1>{{date | date: 'hh:mm'}}</h1>
      <p>{{date | date: 'EEEE MMM dd, yyyy'}}</p>

      <button class="btn btn-lg btn-primary" ng-click="home.newConference()">New Conference</button>
    </div>
    <div class="col-sm-4">

      <label for='roomNumber'>Room</label>
      <select id='roomNumber' ng-change='getReservations()' ng-model='selectedRoom'>
        <option ng-repeat="(key, room) in rooms" id="{{room}}">{{room}}</option>
      </select>


      <div class="card mb-3" style="max-width: 20rem;" ng-repeat='reservation in selectedReservations'>
        <div class="card-body">
          <p class="card-text">{{reservation.reservation}}</p>
        </div>
      </div>



    </div>
  </div>
</div>

