<!-- Controller is referenced to template via view-reservation-controller  -->

<div class="content">

  <div class='card'>
    <div class='card-header'>
      Reservation List
      <div class='float-right'>
          <a href='#!/reservation/create' class='btn btn-text'>Create Reservation</a>
      </div>
    </div>
    <div class='card-body'>
      <table class='table'>
        <tr>
          <thead>
			<th>Reservation</th>
            <th>Actions</th>
          </thead>
        </tr>

        <tr ng-repeat='(id, reservation) in reservations'>
          <td>{{reservation.startTime | date: 'HHmm'}}-{{reservation.endTime | date: 'HHmm'}} {{reservation.title}} {{reservation.user.lastName}}
          <td>
            <button class='btn btn-warning' ng-click='edit($index)' disabled>Edit</button>
            <button class='btn btn-danger' ng-click='delete($index)'>Delete</button>
          </td>
        </tr>
      </table>
 
<div class="content">

</div>