<!-- Controller is referenced to template via new-user-controller  -->

<div class="content">

  <div class='card'>
    <div class='card-header'>
      User List
      <div class='float-right'>
          <a href='#!/users/create' class='btn btn-text'>Create User</a>
      </div>
    </div>
    <div class='card-body'>
      <table class='table'>
        <tr>
          <thead>
            <th>ID</th>
            <th>First</th>
            <th>Last</th>
            <th>Username</th>
            <th>Email</th>
            <th>Type</th>
            <th>Actions</th>
          </thead>
        </tr>

        <tr ng-repeat='user in users'>
          <td>{{user.id}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td ng-switch='{{user.userType}}'>
            <span ng-switch-when='0'>ADMIN</span>
            <span ng-switch-when='1'>USER</span>
            <span ng-switch-when='2'>MANAGER</span>
          </td>
          <td>
            <button class='btn btn-warning' ng-click='edit($index)'>Edit</button>
            <button class='btn btn-danger' ng-click='delete($index)'>Delete</button>
          </td>
        </tr>
      </table>
 
<div class="content">

</div>