<!-- Controller is referenced to template via view-home-controller  -->

<!--<link rel="stylesheet" href="components/view-home/view-home.style.css">-->

<div class="content">
  <div class="card">
    <div class="card-header">Create Reservation</div>
    <div class="card-body">
      <form name="requestConferenceForm" ng-submit="requestConf.submit()">
        <div class="row">
          <div class="col-sm-6">
            <fieldset>
              <div class="form-group">
                <label for="emailInput">Email</label>
                <input class="form-control" id="emailInput" name="emailInput" aria-describedby="emailInput" type="email" ng-model="requestConf.email"
                  required>
              </div>
              <small class="error text-danger" ng-show="requestConferenceForm.emailInput.$error.email">Not valid email</small>
              <div class="form-group">
                <label for="date">Date</label>
                <input id="date" class="form-control" type="date" ng-model="requestConf.date" required>
              </div>
                <div class="form-group" >
                    <label for="startsInput">Starts</label>
                    <div class="input-group mb-3" id="startsInput">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="starts-hour">Hour</span>
                        </div>
                        <input ng-model="requestConf.startHour"
                               required
                               ng-class="{'invalid': requestConferenceForm.startHour.$invalid}"
                               type="number" min="1" max="12" class="form-control"
                               aria-label="Hour"
                               name="startHour"
                               aria-describedby="starts-hour">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="starts-min">Minutes</span>
                        </div>
                        <input ng-model="requestConf.startMin"
                               ng-pattern="/^(0|15|30|60)$/"
                               required
                               id="startMin"
                               name="startMin"
                               type="number" min="0" max="59" class="form-control"
                               aria-label="Minutes"
                               aria-describedby="starts-min">
                        <div class="input-group-append btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary" ng-click="requestConf.startAmPm= 'AM'" ng-class="{ 'active': requestConf.startAmPm === 'AM'}">AM</label>
                            <label class="btn btn-secondary" ng-click="requestConf.startAmPm= 'PM'" ng-class="{ 'active': requestConf.startAmPm === 'PM'}">PM</label>
                        </div>
                    </div>
                    <div class="form-text text-danger">
                        {{requestConf.getDateValidationMessage(requestConferenceForm.startHour, requestConferenceForm.startMin)}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="endsInput">Ends</label>
                    <div class="input-group mb-3" id="endsInput">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="ends-hour">Hour</span>
                        </div>
                        <input ng-model="requestConf.endHour" required ng-class="{'invalid': requestConferenceForm.endHour.$invalid}"
                               name="endHour"
                               type="number" ng-min="requestConf.startHour" min="1" max="12" class="form-control"
                               aria-label="Hour"
                               aria-describedby="ends-hour">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="ends-min">Minutes</span>
                        </div>
                        <input ng-model="requestConf.endMin" required ng-class="{'invalid': requestConferenceForm.endMin.$invalid}"
                               ng-pattern="/^(0|15|30|45|60)$/"       
                               name="endMin"
                               id="endMin"
                               type="number" min="0" max="59" class="form-control"
                               aria-label="Minutes"
                               aria-describedby="ends-min">
                        <div class="input-group-append btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary" ng-click="requestConf.endAmPm= 'AM'" ng-class="{ 'active': requestConf.endAmPm === 'AM'}">AM</label>
                            <label class="btn btn-secondary" ng-click="requestConf.endAmPm= 'PM'" ng-class="{ 'active': requestConf.endAmPm === 'PM'}">PM</label>

                        </div>
                    </div>
                    <div class="form-text text-danger">
                        {{ requestConf.getDateValidationMessage(requestConferenceForm.endHour, requestConferenceForm.endMin)}}
                        {{ requestConf.confRequestWindowValidation(requestConf.startHour, requestConf.startMin, requestConf.startAmPm ,
                        requestConf.endHour, requestConf.endMin, requestConf.endAmPm)}}
                    </div>
                </div>
              <div class="form-group">
                <label for="buildingPref">Building Preference</label>
                <select id="buildingPref" class="form-control" ng-model="requestConf.buildingPref" ng-change="requestConf.reloadRooms()" required>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>
              <div class="form-group">
                <label for="room">Room</label>
                <select id="room" class="form-control" ng-model="requestConf.room">
                  <option ng-repeat="r in requestConf.rooms" value="{{r._links.self.href}}">{{r.name}}</option>
                </select>
              </div>
            </fieldset>
          </div>
          <div class="col-sm-6">
            <fieldset>
              <div class="form-group">
                <label for="conferenceTitle">Conference Title</label>
                <input class="form-control" id="conferenceTitle" type="text" ng-model="requestConf.conferenceTitle" required>
              </div>
              <div class="form-group">
                <label for="conferenceDetails">ConferenceDetails</label>
                <textarea id="conferenceDetails" class="form-control" id="exampleTextarea" rows="3" ng-model="requestConf.conferenceDetails"></textarea>
              </div>
              <div class="form-group">
             
                <label class="control-label" for="user">User</label>
                
                <select id='user' name='user' ng-model='requestConf.user'>
                  <option ng-repeat="r in requestConf.users" value="{{r._links.self.href}}">{{r.firstName}} {{r.lastName}}</option>

                </select>
              </div>
            </fieldset>
          </div>
        </div>
        <br />
        <br />
        <div class="row">
          <div class="col-sm-6">
            <div class="col-sm-6">
              <a href="#!/home" class="btn btn-light btn-block">Cancel</a>
            </div>
          </div>
          <div class="col-sm-6">
            <!-- This should return to home.  -->
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
            <!--requestConferenceForm.emailInput.$error.email && -->
            <!-- !requestConf.isDisabled() -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>