<!-- Controller is referenced to template via new-room-controller  -->

<div class="content">

  <div class='card'>
    <div class='card-header'>Create Room</div>
    <div class='card-body'>
      <form>
        <div class='form-group'>
          <label for='buildingId'>Building</label>
          <select id='buildingId' name='buildingId' ng-model='room.buildingId'>
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
          </select>
        </div>
        <div class='form-group row container'>
          <label class="padding-5" for='avList'>Equipment</label>
          <select class="col-sm-4 form-control" id='avList' name='avList' multiple
          	ng-options="eq as eq.name for eq in equipment" ng-model='room.avEquipment'>
          </select>
        </div>
        <div class='form-group'>
          <label for='name'>Name</label>
          <input type='text' class='form-control' id='name' name='name' required ng-model='room.name'>
        </div>
        <hr>
        <div class='form-group'>
          <label for='occupancy'>Occupancy</label>
          <input type='text' class='form-control' id='occupancy' name='occupancy' required ng-model='room.occupancy'  readonly="readonly">
        </div>
      
        <button type='button' class='btn btn-info' ng-click='cancel()'>Cancel</button>
        <button type='button' class='btn btn-success' ng-click='create(room)'>Submit</button>
      </form>
      
    </div>
  </div>

<div class="content">

</div>